body { background: #e7e99c; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 59px; display: flex; }
.block-product-0 { color: #91a528; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #4cb58f; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #babce5; font-size: 15px; margin-bottom: 5px; }
.block-session-3 { color: #202952; font-size: 20px; margin-bottom: 5px; }
.block-uploader-4 { color: #881fa6; font-size: 12px; margin-bottom: 5px; }
.block-payment-5 { color: #bd3798; font-size: 19px; margin-bottom: 5px; }